include LICENSE
include README.md
recursive-include djangocms_tacc_page_export/static *
recursive-include djangocms_tacc_page_export/templates *
recursive-include djangocms_tacc_page_export/migrations *
