{% extends "admin/cms/page/tree/actions_dropdown.html" %}
{% load i18n admin_urls %}
{% block actions %}
    {{ block.super }}
    {% if export_page_show %}
        <li class="cms-pagetree-dropdown-separator">&nbsp;</li>
        <li>
            <a href="{% url opts|admin_urlname:'export_docx' page.id %}">
                <span class="cms-icon cms-icon-pin" aria-hidden="true"></span>
                <span>{% trans "Download…" %}</span>
            </a>
        </li>
    {% endif %}
{% endblock actions %}
